#intro-content {
    padding-top: 200px;
    width: 500px;
}

.welcome-title {
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    border-right: .05em solid white;
    animation: blink-caret 1s step-end infinite;
}

.lead {
    color: white;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}