#intro-content {
    padding-top: 180px;
    width: 500px;
    display: inline-block;
}

.welcome-title {
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    border-right: .05em solid white;
    animation: blink-caret 1s step-end infinite;
}

.lead {
    color: white;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

#client-count {
    display: inline-block;
    float: right;
}

#online {
    color: white;
}

.online-icon {
    color: #2f7dd0;
}

.flash {
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s;
}